$color-buttons: #ed5b3d;
$font-color-white:#ffffff;
$font-color-dark:#323232;
$bg-color:#849d8f;
$bg-entrance:#9db1a5;
$menu-element-hover:#fbded8;



$indenting:28px;
$height_small_block:230px;
$height_big_block:310px;
$content-wight:1146px;
$document-wight:1200px;
$menu-wight:144px;
